---
title: Confirm order
---

{% include header.html %}

{% include page-ribbon.html %}

<div class="steps-wrapper mb-lg-5">
    <div class="container">
        <div class="col-sm-12 text-center">
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-light disabled">
                    <i class="fa fa-check green"></i>&nbsp;&nbsp;Sign in
                </a>
                <a href="#" class="btn btn-light disabled border-left">
                    <i class="fa fa-check green"></i>&nbsp;&nbsp;Shipping
                </a>
                <a href="#" class="btn btn-primary active border-left">Confirm</a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="border rounded selected-address-list px-4">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="h5">Shipping address</h2>
                                <strong>John Doe</strong>
                                <p class="address-details">
                                    <span>64 Hounslow Road</span><br>
                                    <span>DN14 2YP</span><br>
                                    <span>London</span><br>
                                    <span>United Kingdom</span><br>
                                    <span>077 7040 6356</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="/shipping" class="btn btn-light btn-sm">Change</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2 class="h5">Billing address</h2>
                                <strong>John Doe</strong>
                                <p class="address-details">
                                    <span>4589 Hillcrest Drive</span><br>
                                    <span>98408</span><br>
                                    <span>Tacoma</span><br>
                                    <span>Washington</span><br>
                                    <span>United States</span><br>
                                    <span>253-471-0859</span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="/shipping" class="btn btn-light btn-sm">Change</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Call to action -->
            <div class="col-sm-12 col-lg-4">
                <div class="border rounded promo-code-wrapper p-4 mb-lg-4">
                    <form>
                        <div class="form-group">
                            <label for="promoCode">
                                Enter promotional code <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua."></i>
                            </label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control form-control-sm">
                                <div class="input-group-append">
                                    <button class="btn btn-light btn-sm" type="button" id="btnApplyPromoCode">Apply</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="border rounded order-totals p-4">
                    <h2 class="h5 mb-3">Order summary</h2>
                    <div class="row amt-breakdown">
                        <div class="col-sm-8">
                            <p>Subtotal:</p>
                            <p>Tax:</p>
                            <p>Shipping:</p>
                        </div>
                        <div class="col-sm-4 text-right">
                            <p>&pound;64.99</p>
                            <p>&pound;6.50</p>
                            <p>&pound;3.50</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row grand-total">
                        <div class="col-sm-8">Grand total:</div>
                        <div class="col-sm-4 text-right">&pound;74.99</div>
                    </div>
                    <div class="form-check custom-control custom-checkbox t-and-c mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">
                            I agree to the Cambridge University Press <a href="#" class="">terms and conditions</a>.
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Submit order</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}