---
title: Shipping
---

{% include header.html %}

{% include page-ribbon.html %}

<div class="steps-wrapper mb-lg-5">
    <div class="container">
        <div class="col-sm-12 text-center">
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-light disabled">
                    <i class="fa fa-check green"></i>&nbsp;&nbsp;Sign in
                </a>
                <a href="#" class="btn btn-primary active border-left">Shipping</a>
                <a href="#" class="btn btn-light disabled border-left">Confirm</a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="mb-lg-4">
                    <h2 class="h4 mb-lg-4">Shipping address</h2>
                    <div class="shipping-address-list">
                        {% include address-list.html %}
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-light" id="btnAddNewAddress">
                            <i class="fa fa-plus-circle"></i> Add new address
                        </button>
                    </div>
                </div>
                <hr>
                <div>
                    <h2 class="h4 mb-lg-4">Billing address</h2>
                    <div class="form-check my-lg-4">
                        <input class="form-check-input" type="checkbox" checked id="billToSameAddress">
                        <label class="form-check-label" for="billToSameAddress">
                            Bill to the same address
                        </label>
                    </div>
                    <div class="billing-address-list d-none">
                        {% include address-list.html %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="p-4 shipping-method-wrapper border rounded mb-4">
                    <h2 class="h4 mb-lg-4">Shipping method</h2>
                    <div class="form-check mb-3 shipping-method">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <p>Standard (&pound;3.50)</p>
                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</small>
                        </label>
                    </div>
                    <div class="form-check shipping-method">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            <p>Air mail (&pound;7.00)</p>
                            <small>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</small>
                        </label>
                    </div>
                </div>
                <a href="confirm" class="btn btn-primary btn-block">Next</a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}