<div class="card-deck">
    <div class="card">
        <div class="card-body selected">
            <strong>John Doe</strong>
            <p class="address-details">
                <span>64 Hounslow Road</span><br>
                <span>DN14 2YP</span><br>
                <span>London</span><br>
                <span>United Kingdom</span><br>
                <span>077 7040 6356</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-light btn-sm">Edit</button>
            <button type="button" class="btn btn-light btn-sm">Delete</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <strong>John Doe</strong>
            <p class="address-details">
                <span>Unter den Linden 81</span><br>
                <span>39126</span><br>
                <span>Magdeburg</span><br>
                <span>Sachsen-Anhalt</span><br>
                <span>Germany</span><br>
                <span>0391 88 30 05</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-light btn-sm">Edit</button>
            <button type="button" class="btn btn-light btn-sm">Delete</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <strong>John Doe</strong>
            <p class="address-details">
                <span>4589 Hillcrest Drive</span><br>
                <span>98408</span><br>
                <span>Tacoma</span><br>
                <span>Washington</span><br>
                <span>United States</span><br>
                <span>253-471-0859</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-light btn-sm">Edit</button>
            <button type="button" class="btn btn-light btn-sm">Delete</button>
        </div>
    </div>
</div>