    </main>
    <div class="wrapLowerFooter" id="global-foot"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

    <script type="text/javascript"
    src="https://www.cambridge.org/packages/cambridge_themes/javascripts/global_navbar/latest.js"></script>
    <script type="text/javascript">
        const globalNavHtml = localStorage.getItem('globalNavHtml');
        if (globalNavHtml == null) {
            globalNav(
                '//www.cambridge.org/tools/packages/cambridge_themes/global_navigation/latest',
                {},
                function(resp) {
                    localStorage.setItem('globalNavHtml', resp);
                    jQuery('#global-nav').html(resp);
                    responsiveNavOnloadCallback();
                },
                'html',
                5000
            );
        } else {
            jQuery('#global-nav').html(globalNavHtml);
            responsiveNavOnloadCallback();
        }
    </script>
    <script type="text/javascript"
    src="https://www.cambridge.org/packages/cambridge_themes/javascripts/global_footer/latest.js"></script>
    <script type="text/javascript">
        const globalFooterHtml = localStorage.getItem('globalFooterHtml');
        if (globalFooterHtml == null) {
            globalFooter(
                '//www.cambridge.org/tools/packages/cambridge_themes/global_footer/latest',
                {},
                function(resp) {
                    localStorage.setItem('globalFooterHtml', resp);
                    jQuery('#global-foot').html(resp);
                },
                'html',
                5000
            );
        } else {
            jQuery('#global-foot').html(globalFooterHtml);
        }

    </script>
</body>
</html>