main.body {
    min-height: 70vh;
}

.banner {
    height: 119px;
    background-image: url('../../assets/img/background-header.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header-wrapper,
.cart-cta > div,
.shipping-method-wrapper,
.order-totals {
    background-color: #f2f2f2;
}

.steps-wrapper .btn {
    padding-left: 3rem;
    padding-right: 3rem;
}

.cart-items .list-header {
    margin-bottom: 0.5rem;
    text-align: center;
    color: #555;
}

.cart-items .divider {
    border-bottom: 1px solid #777;
    margin-bottom: 1rem;
}

.cart-items .title-details,
.cart-items .item-options,
.order-totals .t-and-c,
.sap-items .title-details,
.sap-items .item-options {
    font-size: 80%;
}

.cart-items .item-options,
.sap-items .item-options {
    margin-bottom: 0;
}

.cart-items .title-details,
.sap-items .title-details {
    margin-bottom: 0.5rem;
}

.cart-items .item-options a {
    text-decoration: none;
}

.cart-items .unit-price {
    text-align: center;
    font-weight: bold;
}

.cart-items .qty-ctrl .form-control {
    width: 75%;
    margin-left: 12.5%;
}

.shipping-address-list .border {
    padding: 1.5rem;
    height: 100%;
}

.shipping-address-list .border.border-success {
    border-width: 2px !important;
}

.shipping-address-list .card,
.billing-address-list .card,
.selected-address-list .card {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    margin-bottom: 15px;
    border: none;
}

.shipping-address-list .card-body,
.billing-address-list .card-body {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.shipping-address-list .address-details,
.billing-address-list .address-details,
.selected-address-list .address-details {
    margin-bottom: 0px;
    font-size: 80%;
}

.shipping-address-list .card-body:hover,
.billing-address-list .card-body:hover {
    cursor: pointer;
}

.shipping-address-list .card-body.selected,
.billing-address-list .card-body.selected {
    border: 2px solid #28a745;
}

.shipping-address-list .card-footer,
.billing-address-list .card-footer,
.selected-address-list .card-footer {
    background-color: transparent;
    border-top: none;
}

.shipping-address-list .card-footer button,
.billing-address-list .card-footer button {
    width: 25%;
    border: 1px solid #dee2e6!important;
}

#btnAddNewAddress {
    width: 50%;
    border: 1px solid #dee2e6!important;
}

.shipping-method label {
    line-height: 1.25;
}

.shipping-method label p {
    margin-bottom: 0.25rem;
}

.selected-address-list .card-body {
    padding-bottom: 0;
}

.selected-address-list .btn {
    border: 1px solid #dee2e6!important;
}

.promo-code-wrapper .form-group {
    margin-bottom: 0;
}

#btnApplyPromoCode {
    border: 1px solid #ced4da;
}

.order-totals .amt-breakdown p {
    margin-bottom: 0;
}

.order-totals .grand-total {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.cart-cta .subtotal,
.cart-items .subtotal,
.order-totals .grand-total {
    color: #ad1f2d;
}

.sap-items .item-group {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid #dee2e6!important;
}

.sap-items .item-group h3 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

.sap-items #partiallyAvailable {
    background-color: #f2f2f2;
}

.sap-items #marketRestricted,
.sap-items #unavailable {
    background-color: #bfbfbf;
}